*{
    margin:0;
    padding:0;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.table{
    border-radius: 2rem;
    border:1rem solid rgb(255, 192, 116);
    background-color: bisque;
    width: 20rem;
    height: 20rem;;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 5rem);
    gap: 1px;
}

.cell{
    border-radius: 1rem;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bolder; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.367);
}

.scoreBoard{
    margin: 1rem;
    font-family: sans-serif;
    font-weight: bolder;    
}

button, input{
    margin: 1rem;
}

